// COLOR VARIABLES:

$color-header: #5c8eff;
$color-nav-txt: rgb(0, 0, 0);
$color-heading-txt: #dc6666;
$color-text: #f3f2f2;
$color-hand-writing: #f87400;
$color-hand-writing-2: #2252c2;

// RESPONSIVE BREAKPOINTS
$bp-max: 162.5em; // 2600px:16
$bp-largest: 75em; // 1200px:16
$bp-large: 62.5em; // 1000px:16
$bp-medium: 50em; //800px:16
$bp-small: 37.5em; //600px:16
$bp-smallest: 25em; //400px:16

// FONT VARIABLES

$quot-font-family: "Caveat", cursive;

$big-font-size: 3.6rem;
$big-font-size-2: 4.2rem;
$big-font-size-3: 4.8rem;
$medium-font-size: 1.8rem;
$medium-font-size-2: 2.4rem;
$medium-font-size-3: 3rem;
