.contacts {
	margin-top: 12rem;
	margin-bottom: 12rem;

	@media only screen and (max-width: $bp-small) {
		margin-top: 12vh;
		margin-bottom: 12vh;
	}

	&__img {
		// max-height: 41vh;
		// max-width: 25vw;
		width: 28rem;
		height: 36rem;
		// padding: 2rem;

		@media only screen and (max-width: $bp-small) {
			width: 100%;
			height: 90%;
			margin-top: 4rem;
		}
	}

	&__heading {
		background-color: $color-heading-txt;
		padding: 1rem 4rem;
		margin-bottom: 12rem;

		@media only screen and (max-width: $bp-small) {
			margin-bottom: 3rem;
		}
	}

	&__txt {
		background-color: #f4a460;
		padding: 4rem;
		margin: 4rem;

		@media only screen and (max-width: $bp-small) {
			padding: 1rem;

			margin-right: 1rem;
		}
		@media only screen and (max-width: $bp-smallest) {
			margin-right: 0rem;
		}
	}
	&__link {
		color: black;
		list-style: none;
	}
}

.nav-contacts {
	list-style: none;

	&__link:link,
	&__link:visited {
		text-decoration: none;
		color: black;
		padding: 2rem;
		display: block;
		transition: all 0.2s;

		@media only screen and (max-width: $bp-small) {
			padding: 1rem;
		}

		svg {
			fill: black;
			height: 3rem;
			width: 3rem;

			margin-left: 1rem;
			margin-bottom: -0.5rem;
			transition: all 0.2s;

			@media only screen and (max-width: $bp-small) {
				height: 1.2em;
				width: 1.2em;
				margin-left: -1rem;
			}
		}
	}

	&__link:hover,
	&__link:active {
		background-color: rgba(rgba(158, 157, 157, 0.753), 0.05);
		color: white;
		transform: translateY(-3px);
		svg {
			fill: white;
		}
	}
}
