.contacts {
	margin-top: 12rem;
	margin-bottom: 12rem;

	@media only screen and (max-width: $bp-small) {
		margin-top: 6vh;
		margin-bottom: 6vh;
	}

	&__img {
		// max-height: 41vh;
		// max-width: 25vw;
		width: 28rem;
		height: 36rem;
		// padding: 2rem;

		@media only screen and (max-width: $bp-small) {
			width: 100%;
			height: 90%;
			margin-top: 4rem;
		}
	}

	&__heading {
		background-color: $color-heading-txt;
		padding: 1rem 4rem;
		margin-bottom: 12rem;

		@media only screen and (max-width: $bp-small) {
			margin-bottom: 3vh;
		}
	}

	&__txt {
		// background-color: $color-contacts;
		padding: 1em;
		// margin: 4rem;
		margin-left: -1em;

		@media only screen and (max-width: $bp-small) {
			padding: 1rem;

			margin-right: 1rem;
		}
		@media only screen and (max-width: $bp-smallest) {
			margin-right: 0rem;
		}
	}
	&__link {
		color: black;
		list-style: none;
	}

	&__form {
		background-color: $color-text;
		padding: 4em;

		@media only screen and (max-width: $bp-small) {
			margin-top: 6vh;
		}
	}
}

textarea {
	width: 100%;
	@media only screen and (max-width: $bp-small) {
		width: 100%;
	}
}

// .form__btn {
// 	margin: -6rem;
// }

.nav-contacts {
	list-style: none;

	&__link:link,
	&__link:visited {
		text-decoration: none;
		color: black;
		padding: 2rem;
		display: block;
		transition: all 0.2s;

		@media only screen and (max-width: $bp-small) {
			padding: 1rem;
		}

		svg {
			fill: black;
			height: 3rem;
			width: 3rem;

			margin-left: 1rem;
			margin-bottom: -0.5rem;
			transition: all 0.2s;

			@media only screen and (max-width: $bp-small) {
				height: 1.2em;
				width: 1.2em;
				margin-left: -1rem;
			}
		}
	}

	&__link:hover,
	&__link:active {
		background-color: rgba(rgba(158, 157, 157, 0.753), 0.05);
		color: $color-header;
		transform: translateY(-3px);
		svg {
			fill: $color-header;
		}
	}
}

.form {
	&__headline {
		// margin-top: 2vh;
		margin-bottom: 4vh;
		@media only screen and (max-width: $bp-small) {
			margin-top: 2vh;
			margin-bottom: 2vh;
		}
	}

	// &__div {
	// 	padding: 2em;
	// }

	// &__label {
	// 	&--1 {
	// 		padding-right: 2em;
	// 	}
	// 	&--2 {
	// 		padding-right: 1.2em;
	// 	}
	// 	&--3 {
	// 		padding-right: 0.5em;
	// 	}
	// 	&--4 {
	// 		padding-right: 1.5em;
	// 	}
	// }
	&__input {
		width: 100%;
		&--email {
			width: 150%;
		}
	}

	// &__textarea {
	// 	width: 21em;
	// }

	&__btn {
		// margin: 1em;
		// margin-left: 16vw;
		margin-top: 2em;
		padding: 1em;
		cursor: pointer;
		color: white;
		background-color: $color-header-2;

		&:link,
		&:visited {
			transition: all 0.2s;
		}

		&:hover,
		&:active {
			padding: 1em;
			background-color: rgba($color-heading-txt, 0.9);
			transform: translateY(-3px);
		}
	}
}
