.header {
	background-color: $color-header;

	//white backgroung wrapping the original header:
	&--2 {
		background-color: white;
		margin-top: -18vh;

		@media only screen and (max-width: $bp-large) {
			height: 12vh;
		}
		@media only screen and (max-width: $bp-medium) {
			height: 12vh;
		}
		@media only screen and (max-width: $bp-smallest) {
			height: 12vh;
		}
	}
}
