.nav {
	&__links {
		list-style: none;
	}
	&__link {
		text-decoration: none;
	}

	&__flag {
		max-height: 8vh;
		max-width: 8vw;
		padding-top: 1.2rem;

		@media only screen and (max-width: $bp-medium) {
			max-height: 14vh;
			max-width: 14vw;
		}
		@media only screen and (max-width: $bp-smallest) {
			max-height: 18vh;
			max-width: 18vw;
		}
	}

	&__link:link,
	&__link:visited {
		display: block;
		transition: all 0.2s;
	}

	&__link:hover,
	&__link:active {
		padding: 1rem;
		background-color: rgba($color-heading-txt, 0.9);
		transform: translateY(-1px);
	}
}

// Hambuger responsive navigation:

.navigation {
	&__button {
		height: 10rem;
		width: 10rem;
		text-align: center;
		cursor: pointer;
	}

	&__icon {
		position: relative;
		margin-top: 5rem;
		margin-left: 3rem;

		&,
		&::before,
		&::after {
			width: 9rem;
			height: 2px;
			background-color: white;
			display: inline-block;
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 0;
			transition: all 0.2s;
		}

		&::before {
			top: -1.6rem;
		}
		&::after {
			top: 1.6rem;
		}
	}

	&__button:hover &__icon::before {
		top: -3rem;
	}

	&__button:hover &__icon::after {
		top: 3rem;
	}

	&__checkbox:checked + &__button &__icon {
		background-color: transparent;
	}
	&__checkbox:checked + &__button &__icon::before {
		top: 0;
		transform: rotate(135deg);
	}
	&__checkbox:checked + &__button &__icon::after {
		top: 0;
		transform: rotate(-135deg);
	}
}
