.nav {
	&__links {
		list-style: none;
	}
	&__link {
		text-decoration: none;
	}

	&__flag {
		max-height: 8vh;
		max-width: 8vw;
		padding-top: 1.2rem;
	}

	&__link:link,
	&__link:visited {
		display: block;
		transition: all 0.2s;
	}

	&__link:hover,
	&__link:active {
		padding: 1rem;
		background-color: rgba($color-heading-txt, 0.9);
		transform: translateY(-1px);
	}

	// &.sticky {
	// 	display: flex;
	// 	position: fixed;
	// 	margin-top: -3rem;
	// 	height: 10rem;
	// }
}
