.nav {
	&__links {
		list-style: none;
	}
	&__link {
		text-decoration: none;
	}

	&__flag {
		max-height: 8vh;
		max-width: 8vw;
		padding-top: 1.2rem;
	}

	&__link:link,
	&__link:visited {
		display: block;
		transition: all 0.2s;
	}

	&__link:hover,
	&__link:active {
		padding: 1rem;
		background-color: rgba($color-heading-txt, 0.9);
		transform: translateY(-1px);
	}
}

// Hambuger responsive navigation:

.navigation {
	&__button {
		// background-color: red;
		height: 10rem;
		width: 10rem;

		// top: 6rem;
		// margin-left: 6rem;
		text-align: center;
		cursor: pointer;
		// position: fixed;
		// right: 6rem;
		// border-radius: 50%;
		// z-index: 2000;
		// box-shadow: 0 1rem 3rem rgba(black, 0.1);
	}
	// &__background {
	// 	height: 6rem;
	// 	width: 6rem;
	// 	// border-radius: 50%;
	// 	position: fixed;
	// 	top: 6rem;
	// 	// right: 6.5rem;
	// 	background-image: radial-gradient(white, black);
	// 	z-index: 1000;
	// 	transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
	// }

	&__icon {
		position: relative;
		margin-top: 5rem;
		margin-left: 3rem;

		&,
		&::before,
		&::after {
			width: 9rem;
			height: 2px;
			background-color: white;
			display: inline-block;
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 0;
			transition: all 0.2s;
		}

		&::before {
			top: -1.6rem;
		}
		&::after {
			top: 1.6rem;
		}
	}

	&__button:hover &__icon::before {
		top: -3rem;
	}

	&__button:hover &__icon::after {
		top: 3rem;
	}

	&__checkbox:checked + &__button &__icon {
		background-color: transparent;
	}
	&__checkbox:checked + &__button &__icon::before {
		top: 0;
		transform: rotate(135deg);
	}
	&__checkbox:checked + &__button &__icon::after {
		top: 0;
		transform: rotate(-135deg);
	}
}
