.slider {
	// margin-top: 9rem;
	margin-bottom: 9rem;

	@media only screen and (max-width: $bp-small) {
		margin-bottom: 6vh;
	}

	&__photo {
		object-fit: cover;
		height: 100%;
		width: 100%;
		display: block;
	}
}
