.slider {
	// margin-top: 9rem;
	margin-bottom: 9rem;

	@media only screen and (max-width: $bp-small) {
		margin-bottom: 6vh;
	}

	&__photo {
		object-fit: cover;
		height: 100%;
		width: 100%;
		display: block;
	}
}

/* SLIDER-MOBILE */

.slider-mobile {
	position: relative;

	/* IN THE END */
	overflow: hidden;
	visibility: hidden;

	@media only screen and (max-width: $bp-small) {
		// min-height: 60em;
		visibility: visible;
		margin-bottom: 6vh;
	}
}

.slide-mobile {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;

	/* THIS creates the animation! */
	transition: transform 1s;
}

.slide-mobile > img {
	/* Only for images that have different size than slide */
	width: 100%;
	height: 100%;
	object-fit: cover;
	// object-fit: contain;
}

.slider-mobile__btn {
	position: absolute;
	top: 50%;
	z-index: 10;
	border: none;
	background: $color-header-2;
	color: white;
	height: 3.5em;
	width: 3.5em;
	font-size: $big-font-size-4;
	font-weight: 900;
	cursor: pointer;
}

.slider-mobile__btn--left {
	left: 6%;
	transform: translate(-50%, -50%);
}

.slider-mobile__btn--right {
	right: 6%;
	transform: translate(50%, -50%);
}
