html {
	font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

	@media only screen and (max-width: $bp-largest) {
		font-size: 50%;
	}
	@media only screen and (max-width: $bp-large) {
		font-size: 40%;
	}
	@media only screen and (max-width: $bp-medium) {
		font-size: 30%;
	}
	@media only screen and (max-width: $bp-small) {
		font-size: 20%;
	}
	@media only screen and (max-width: $bp-smallest) {
		font-size: 15%;
	}
}

h1 {
	font-family: $headline-font-family;
	@media only screen and (max-width: $bp-medium) {
		font-size: $huge-font-size;
	}
	@media only screen and (max-width: $bp-small) {
		font-size: $huge-font-size-4;
	}
}

.nav__link {
	color: white;
	font-size: $medium-font-size;

	@media only screen and (max-width: $bp-medium) {
		font-size: $big-font-size-2;
		font-weight: 600;
	}
	@media only screen and (max-width: $bp-small) {
		font-size: $big-font-size-4;
		font-weight: 900;
	}
}

.about {
	&__heading {
		font-size: $big-font-size;
		color: white;

		@media only screen and (max-width: $bp-small) {
			font-size: $huge-font-size-2;
		}
	}

	&__txt {
		font-size: $medium-font-size;

		@media only screen and (max-width: $bp-medium) {
			font-size: $medium-font-size-3;
		}
		@media only screen and (max-width: $bp-small) {
			font-size: $huge-font-size-2;
		}
	}
}

.quot {
	font-size: $big-font-size;
	font-family: $quot-font-family;
	color: $color-hand-writing;

	@media only screen and (max-width: $bp-medium) {
		font-size: $big-font-size-3;
	}
	@media only screen and (max-width: $bp-small) {
		font-size: $huge-font-size-3;
	}
}

.tours {
	&__heading {
		font-size: $big-font-size;
		color: white;

		@media only screen and (max-width: $bp-small) {
			font-size: $huge-font-size-2;
		}
	}
	&__txt {
		font-size: $medium-font-size;

		@media only screen and (max-width: $bp-medium) {
			font-size: $medium-font-size-3;
		}
		@media only screen and (max-width: $bp-small) {
			font-size: $huge-font-size;
		}
	}
}

.reviews {
	&__heading {
		font-size: $big-font-size;
		color: white;

		@media only screen and (max-width: $bp-small) {
			font-size: $huge-font-size-2;
		}
	}

	&__txt {
		font-size: $medium-font-size-2;
		font-family: $quot-font-family;

		@media only screen and (max-width: $bp-medium) {
			font-size: $medium-font-size-3;
		}
		@media only screen and (max-width: $bp-small) {
			font-size: $huge-font-size-3;
		}
	}
}

.contacts {
	&__heading {
		font-size: $big-font-size;
		color: white;

		@media only screen and (max-width: $bp-small) {
			font-size: $huge-font-size-2;
		}
	}
	&__txt {
		font-size: $medium-font-size-2;

		@media only screen and (max-width: $bp-medium) {
			font-size: $big-font-size;
		}
		@media only screen and (max-width: $bp-small) {
			font-size: $big-font-size-4;
		}
		// @media only screen and (max-width: $bp-smallest) {
		// 	font-size: $big-font-size-4;
		// }
	}
}

.footer {
	color: white;
	font-size: $medium-font-size;

	@media only screen and (max-width: $bp-medium) {
		font-size: $big-font-size;
	}
	@media only screen and (max-width: $bp-small) {
		font-size: $big-font-size-3;
	}
}
