.about {
	margin-top: 12rem;

	@media only screen and (max-width: $bp-small) {
		margin-top: 6vh;
	}

	&__img {
		max-height: 61vh;
		max-width: 25vw;

		@media only screen and (max-width: $bp-medium) {
			max-height: 31vh;
			max-width: 17vw;
		}
		@media only screen and (max-width: $bp-small) {
			max-height: 61vh;
			max-width: 74vw;
			margin-bottom: 3vh;
		}
	}

	&__heading {
		background-color: $color-heading-txt;
		padding: 1rem 4rem;
		margin-bottom: 12rem;

		@media only screen and (max-width: $bp-small) {
			margin-bottom: 6vh;
		}
	}

	&__txt {
		background-color: $color-text;
		padding: 6rem;

		@media only screen and (max-width: $bp-medium) {
			padding: 3rem;
		}
	}
}

.quot {
	margin-top: 12rem;
	margin-bottom: 12rem;

	@media only screen and (max-width: $bp-small) {
		margin-top: 6vh;
		margin-bottom: 6vh;
	}
}

.tours {
	margin-top: 6rem;
	margin-bottom: 12rem;

	@media only screen and (max-width: $bp-small) {
		margin-top: 0rem;
		margin-bottom: 3vh;
	}

	&__img {
		max-height: 61vh;
		max-width: 25vw;

		@media only screen and (max-width: $bp-medium) {
			max-height: 31vh;
			max-width: 17vw;
		}
		@media only screen and (max-width: $bp-small) {
			max-height: 61vh;
			max-width: 74vw;
			margin-bottom: 3vh;
		}
	}

	&__heading {
		background-color: $color-heading-txt;
		padding: 1rem 4rem;
		margin-bottom: 12rem;

		@media only screen and (max-width: $bp-small) {
			margin-bottom: 6vh;
		}
	}
	&__txt {
		background-color: $color-text;
		padding: 6rem;

		@media only screen and (max-width: $bp-medium) {
			padding: 3rem;
			margin-bottom: 6vh;
		}
	}
}
